/*table of contents
	*layout
	*typography
	*/



/*layout*/



.anchor{
	padding-top: 2em;
}

body{
	box-sizing; border-box;
	position: relative;
} 

.body {
      background-color: #fffeea;
      color: #34495e;
}

.container {
	margin: 0%;
    width: 100%;
}
/*nav bar css layout*/
.nav{
	margin-left: 1em;
	margin-right: 1em;
}
/*end nav bar css layout*/
/* carousel css layout*/
.container-fluid {
	height: 100%;
	padding-left: 0px;
	padding-right: 0px;
	vertical-align: 100vw;
}

#carousel-example-generic{
	margin: 0%;
	margin-top: 0%;
}

.carousel-caption{
	text-align: right;
}
/*end carousel css layout*/


.work-img{
	display: block;
	margin: auto;
	max-width: 200px;
	position: relative;
}
.info{
	color: #e27800;
	display: none;
	font-family: 'IM Fell English', serif;
	font-weight:700;
	left: 22%;
	line-height: 1.6;
	position:absolute;
	top: 15%;
	}
.proj-title{
	font-weight:100;

}
/*about me css layout*/ 
#aboutme.container.anchor{
	height: 100%;
	padding-left: 0px;
	padding-right: 0px;
	vertical-align: 100vw;
}

#profile{
	margin: 0 auto;
}

#skills{
	background-color: #e27800 ;
}

#modalembed{
	height: 500px;
	padding: 10px;
	width: 100%;
}

.row {
	margin-left: 1em;
	margin-right: 1em;
}

 
#about.row{
	margin-left: 0;
	margin-right: 0;
}
   

/*end about css layout*/
/*contact us css layout*/
#contact.container.anchor{
	height: 100%;
	padding-left: 0px;
	padding-right: 0px;
	vertical-align: 100vw;
}

#contact {
	background-attachment: fixed;
	background-color: #e27800;
	background-image: url("../img/berlintree.png");
	height: 900px;
	padding: 100px;
	padding-top: 50px;
}

#map{
	height: 250px;
	float:left;
	width: 100%;
}



.physaddress,
.connect h1{
	text-align: left;
}

.physaddress{
	margin-top: 2%;
}

.connect-form{
	margin-left: 1em;
}

.form-control{
	margin-left: 3em;
	width: 70%;
}

label{
	color: #CD853F;
}

textarea{
	margin-bottom: 40px;
}
/*end contact us css layout*/
/*learn more css layout*/
#learnmore.container.anchor{
	height: 100%;
	padding-left: 0px;
	padding-right: 0px;
	vertical-align: 100vw;
}

.learn-more{
	text-align: left;
	float: left;
}

.row{
	margin-top: 1em;
}
.panel-body{
	background-color: #ffe28a;
}

.main-text {
    clear: both;
}

iframe{ 
	margin-left: 40em;
	max-height: 315px; 
	max-width: 560px;
}
/*end learn more css layout*/
/*footer css layout*/
footer{
	background-color: black;
}


#twitter{
	float: right;
	margin-right: 1em;
	padding-left: 1em;
}

#facebook{
	float: right;
}
/*end footer css layout*/


/*typography*/
h2,
h3 {
   font-family: 'IM Fell English', serif;
   text-align: center;
   text-transform: uppercase;
   color: black;
}

h1{
	font-family: 'IM Fell English', serif;
	color: #e27800;
	font-size: 5em;
}

.panel-title {
	color: #010141;
}



p{
	font-family: Helvetica, Arial, sans-serif;
}

.nav{
	font-family: 'IM Fell English', serif; 
	text-transform: uppercase;
	font-size: 1em;
}

.carousel-caption{
	font-family: 'IM Fell English', serif;
	font-size: 5em;
	color: white;
}

.projectName{
	font-family: 'IM Fell English', serif;
	font-size: 2em;
}

.projectName a{
	color: #e27800;
}

.body p {
   font-family: Helvetica, Arial, sans-serif;
   font-size: 1em;
}

.body li {
   font-family: Helvetica, Arial, sans-serif;
}



#aboutme{
	color: #e27800;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
		}
		div#about.row{
		color: black;
			}
			#skill-list{
				color: white;
				}
				div.main-text{
					color: black;
					}


.chat{
	color: #CD853F;
	font-size: 2em;
	}
	
	.email,
	.phone,
	.physaddress {
		font-size: 1em;
		font-weight: 500;
		color: #CD853F;
}	

.connect-form h1,
.connect h1{
		text-align: left;
		color: #e27800;
		font-family: 'IM Fell English', serif;
		font-size: 3em;
		}


#counter{
	color: #e27800;
}

footer{
	margin-bottom: 10px;
	font-family: 'IM Fell English', serif;
	font-size: 2em;
}
  








 





